@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,86.2,600;1,86.2,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 86.2;
}

body {
  background-image: linear-gradient(
    90deg,
    #603158,
    #501236d9,
    #941c80,
    #632a69
  );
}

h3,
h4,
p,
i {
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 1.5px;
  background: -webkit-linear-gradient(90deg, #c560b4, #e50d8bd9, #ff0ad6);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  animation: gradient 1s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#middle-section{
    top: 50vh;
    left:50vw;

}
#dictionary-heading {
  height: 20% !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 3px groove rgba(223, 48, 206, 0.597);
}

#dictionary-main {
  border-radius: 30px;
  width: 40% !important;
  background-color: pink;
  transition: 250ms ease-in-out;
  transition-property: transform, box-shadow;
}

#dictionary-main:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.9);
}

#search-word #enter-word {
  background-color: transparent;
  font-size: 1.1em;
  color: #333033;
  font-weight: 600;
  border: none;
  border-bottom: 3px solid rgba(206, 78, 195, 0.941);
  transition: outline 1s ease;
}

#enter-word:focus {
  outline: none;
}

#enter-word::placeholder {
  color: #b671ab;
  font-weight: 400;
}

#enter-word:focus::placeholder {
  visibility: hidden;
}

#search-word button {
  border: none;
  background: none;
  font-size: 1.2em;
  border-radius: 10px;
  transition: background-color 100ms linear;
}

#search-btn:hover {
  background-color: rgba(0, 0, 0, 0.138);
}

#search-word {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px solid rgba(206, 78, 195, 0.941);
}

#content-bar p {
  border-left: 3px solid rgba(206, 78, 195, 0.941);
}

.bi-volume-off-fill,
.bi-volume-up-fill {
  cursor: pointer;
  font-size: 20px;
}

p {
  color: #fb9f9f;
}
