@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,86.2,600;1,86.2,600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 86.2;
}

body{
    background-image:linear-gradient(90deg,#603158, #501236d9, #941c80, #632a69);  
    height: 100vh;
}

h3{
    font-weight:bolder;
    font-size: 30px;
    letter-spacing: 1.5px;
    background: -webkit-linear-gradient(90deg, #603158, #b12c7ad9, #941c80);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    animation: gradient 1s infinite;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#dictionary-heading{
    height: 20% !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 3px groove rgba(223, 48, 206, 0.597);
}

#dictionary-main{
    border-radius: 30px;
    width: 30% !important;
    background-color: pink;
    transition: 300ms ease-in-out;
    transition-property: transform, box-shadow;
}

#dictionary-main:hover{
    transform:scale(1.02);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0,0.9);
}

input{
    background-color:transparent;
    font-size: 1.4em; 
    color: #333033;
    font-weight: 600;;
    border:none;
    border-bottom: 3px solid rgba(206, 78, 195, 0.941);
    transition: outline 1s ease;
}

input:focus{
    outline:none;
}

input,
button{
    height: 50px !important;
}


input::placeholder{
    color: #b671ab;
    font-weight: 400;
}

input:focus::placeholder{
    visibility: hidden;
}

button{
    border:none;    
    background: none;
    font-size:  1.5em;
    border-radius:  10px;
    transition: background-color 100ms linear;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.138);
}

#search-word{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid rgba(206, 78, 195, 0.941);
}

#content-bar p{
    border-left: 3px solid rgba(206, 78, 195, 0.941);
}

.bi-volume-off-fill,
.bi-volume-up-fill{
    cursor: pointer;
    font-size: 20px;
}
